{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
  {% if articles %}
    {% for article in articles_page.object_list %}
      <div class="article" itemscope itemtype="http://schema.org/BlogPosting">
        <a href="{{ SITEURL }}/{{ article.url }}">
	      <h2 itemprop="name headline">{{ article.title }}</h2>
        </a>
        <span class="postmeta">
          Posted on <time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.date.strftime('%Y-%m-%d %H:%M') }}</time>
          in
          {% if article.tags %}
            {% for tag in article.tags %}
              <span itemprop="keywords">
	            <a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>
                {% if not loop.last %}
                  ,
                {% endif %}
              </span>
            {% endfor %}
          {% endif %}
        </span>
        <div class="summary">{{ article.summary }}</div>
      </div>
      <hr>
    {% endfor %} {# For article #}
  {% endif %}

  {% include "pagination.html" %}

{% endblock content %}
