#slideshow {
    width: 16em;
    height: 16em;
    float: right;
    margin: 0 0 2em 2em;
    right: 0;
    top: 0;
	line-height: 16em;
	transform-style: preserve-3d;
	vertical-align: middle;
}

#slideshow img {
	border-radius: 6px;
	height: auto;
	left: 0;
    margin: auto auto auto auto;
	max-height: 100%;
	max-width: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: center;
	transition-duration: 1s;
	transition-property: opacity;
	vertical-align: middle;
	width: auto;
}

#slideshow .fadein {
	opacity: 1.0;
	transform-origin: bottom left;
}

#slideshow .fadeout {
	opacity: 0.0;
	transform-origin: bottom left;
}
